li {
  list-style-type: none;
}

.index-container {
  margin: 0 auto;
  text-align: center;
}

/* #all-campaigns-container > .div-link {
  text-decoration: none;
} */

.index-container > .div-link {
  margin: 1em 2em;
  background-color: lightblue;
  border-radius: 10px;
  text-decoration: none;
  padding: 15px 0px;
}
